# Archivos temporales de Python y caché
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env

# Logs del proyecto
logs/
*.log

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db